#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
.header {
  color: yellow;
  padding: 10px;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}
.submitBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.inputBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50vw;
  height: inherit;
  font-size: larger;
  overflow: hidden;
}
.text-area {
  width: 50vw;
  height: inherit;
  background-color: aliceblue;
  color: black;
}
.outputBox {
  background-color: black;
  width: 50vw;
  height: inherit;
  font-size: larger;
  overflow: hidden;
}
